<div class="container">
  <div class="row mt-5">
    <h4>会員詳細</h4>
  </div>

  <div class="row mt-3">
    <table class="table col-3">
      <tr>
        <td>プロフィール画像</td>
        <td><%= image_tag @customer.get_profile_image, size:'80x80' %></td>
      </tr>
      <tr>
        <td>名前</td>
        <td><%= @customer.name %></td>
      </tr>
      <tr>
        <td>好きな場所</td>
        <td><%= @customer.prefecture&.name %></td>
      </tr>
      <tr>
        <td>好きな食べ物</td>
        <td><%= @customer.food %></td>
      </tr>
    </table>
  </div>

  <div class="row mt-3">
    <div class="col-3">
      <div class="row mt-2">
        <% if @customer == current_customer %>
          <%= link_to "編集", edit_customer_path, class: "btn btn-success btn-block" %>
        <% end %>
      </div>
      <div class="row mt-2">
        <%= link_to "フォロー一覧", customer_followings_path(@customer), class: "btn btn-info btn-block" %>
      </div>
      <div class="row mt-2">
        <%= link_to "フォロワー一覧", customer_followers_path(@customer), class: "btn btn-info btn-block" %>
      </div>
    </div>
  </div>

</div>