<div class="container">
  <div class="row mt-5">
    <h4>投稿編集</h4>
  </div>

  <%= form_with model: @post, url: post_path do |f| %>
    <div class="row mt-3">
      <div class="col-4"><%= f.label "食べ物画像" %></div>
      <div class="col-4"><%= f.file_field :image, accept: "image/*" %></div>
    </div>
    <div class="row mt-2">
      <div class="col-4"><%= f.label "都道府県" %></div>
      <div class="col-4"><%= f.collection_select :prefecture_id, Prefecture.all, :id, :name %></div>
    </div>
    <div class="row mt-2">
      <div class="col-4"><%= f.label "食べ物名" %></div>
      <div class="col-4"><%= f.text_field :food_name %></div>
    </div>
    <div class="row mt-2">
      <div class="col-4"><%= f.label "食べ物説明" %></div>
      <div class="col-6"><%= f.text_area :introduction, class: "w-100" %></div>
    </div>

    <div class="row mt-2">
      <div class="col-4"></div>
      <div class="col-4"><%= f.submit "編集を保存する", class: "btn btn-success" %></div>
    </div>
  <% end %>

</div>