<div class="container">
  <div class="row mt-5">
    <h4>投稿詳細</h4>
  </div>

  <div class="row">
    <%= @post.created_at.strftime('%Y/%m/%d') %>
    <%= @post.customer.name %>
  </div>

  <div class="row mt-3">
    <div class="col-5">
      <%= image_tag @post.image, size: "300x300" %>
    </div>

    <div class="col-7">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th>都道府県</th>
            <td><%= @post.prefecture&.name %></td>
          </tr>
          <tr>
            <th>食べ物名</th>
            <td><%= @post.food_name %></td>
          </tr>
          <tr>
            <th>食べ物説明</th>
            <td><%= @post.introduction %></td>
          </tr>
          <tr>
            <th>タグ</th>
            <td>
              <% @post_tags.each do |tag| %>
                <%= tag.name %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th>コメント数</th>
            <td><%= @post.food_comments.count %></td>
          </tr>
          <tr>
            <td><%= link_to "削除", @post, method: :delete, class: "btn btn-danger" %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div id="comment_area">
    <%= render 'admin/food_comments/index', post: @post %>
  </div>

</div>